#Q {
  color: #9C89B8;
}

#title, #Q {
  font-weight: bold;
  font-size: 1.5rem;
}

.form {
  margin: 4rem 1rem;
  padding: 1.2rem;
  background-color: #B8BEDD;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button-space {
  margin-top: 1rem;
}

.Home {
  background-color: #F0E6EF;
  height: max-content;
  width: auto;
  padding: 1rem;
}

h1, h1 > #Q {
  font-size: 6rem;
}

h1 {
  padding-top: 3rem;
}

h1, #subtitle {
  text-align: center;
  font-weight: bold;
}

#subtitle {
  padding-bottom: 2rem;
}

.getStartedCard {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.getStartedCard:last-of-type {
  margin-bottom: 15vh;
}

#getStartedButton {
  width: 10rem;
  height: 2.5rem;
}

#subtitle {
  margin-bottom: 2rem;
}

.btn-secondary {
  background-color: #F0A6CA;
  border-color: #F0A6CA;
}

.bg-light {
  background-color: rgba(241, 241, 241, 0.5) !important;
}

.search {
  height: max-content;
  background-color: #9C89B8;
  text-align: center;
  font-weight: bold;
  padding-top: 3rem;
}

#searchName {
  font-size: 40pt;
  padding-bottom: 5rem;
}

#searchBar {
  height: 15vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 28pt;
  border-color: #F0A6CA;
  box-shadow: #F0A6CA;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.searchBar img {
  height: 5rem;
  width: 5rem;
}

#searchButton {
  background-color: transparent;
  border-color: transparent;
}

.label {
  justify-content: flex-start;
  text-align: left;
}

.roomCards {
  margin: 1rem;
}

form {
  padding: 1.2rem;
}